<?php
$servers['imap'] = array(
    'disabled' => false,
    'name' => '{{ horde_mail_imap_servername }}',
    'hostspec' => '{{ horde_mail_imap_server }}',
    'hordeauth' => '{{ horde_mail_hordeauth }}',
    'protocol' => '{{ horde_mail_protocol }}',
    'port' => {{ horde_mail_imap_port }},
    'secure' => '{{ horde_mail_imap_secure }}',
    'maildomain' => '{{ horde_mail_domain }}',
    'smtp' => array(
        'auth' => true,
    //    'debug' => false,
        'horde_auth' => '{{ horde_mail_smtp_auth }}',
        'host' => '{{ horde_mail_smtp_server }}',
        'port' => {{ horde_mail_smtp_port }},
    //    'username' => null
    ),
    'spam' => array(

    ),
    'admin' => array(
    //     'user' => 'cyrus',
    //     'password' => 'cyrus_pass',
    //     'userhierarchy' => 'user.'
    ),
    'acl' => true,
    'cache' => false,
    'special_mboxes' => array(
         IMP_Mailbox::MBOX_SENT => 'Sent',
    ),
    'autocreate_special' => true,
);