<?php
$conf['sql']['username'] = '{{horde_db_user}}';
$conf['sql']['password'] = '{{horde_db_pass}}';
$conf['sql']['protocol'] = '{{horde_webmail_db_connect}}';
$conf['sql']['database'] = '{{horde_db_name}}';
$conf['sql']['charset'] = '{{horde_webmail_db_charset}}';
$conf['sql']['ssl'] = {{horde_webmail_ssl}};
$conf['auth']['admins'] = array({{ horde_admin_users | map('regex_replace', '(.*)', "'\\1'") | join(', ') }});
$conf['auth']['params']['app'] = 'imp';
$conf['auth']['params']['hostspec'] = '{{horde_mail_imap_server}}';
$conf['auth']['params']['port'] = {{horde_mail_imap_port}};
$conf['auth']['params']['secure'] = '{{horde_mail_imap_secure}}';
$conf['auth']['driver'] = 'imap';
$conf['mailer']['params']['host'] = '{{horde_mail_smtp_server}}';
$conf['mailer']['params']['port'] = {{horde_mail_smtp_port}};
$conf['mailer']['params']['secure'] = '{{horde_mail_smtp_secure}}';
$conf['mailer']['params']['username_auth'] = true;
$conf['mailer']['params']['password_auth'] = true;
$conf['mailer']['params']['auth'] = true;
$conf['mailer']['params']['lmtp'] = false;
$conf['mailer']['type'] = 'smtp';
$conf['problems']['email'] = '{{ horde_webmail_webmaster_email }}';
$conf['problems']['maildomain'] = '{{ horde_webmail_webmaster_domain }}';
$conf['imap']['server'] = '{{ horde_mail_imap_server }}';
$conf['imap']['port'] = {{ horde_mail_imap_port }};
$conf['imap']['secure'] = '{{ horde_mail_imap_secure }}';
$conf['imap']['maildomain'] = '{{ horde_mail_domain }}';
$conf['imap']['cache_folders'] = true;
$conf['imap']['enabled'] = true;
$conf['imsp']['enabled'] = false;
{% if horde_webmail_reverse_proxy|bool %}
if (array_key_exists('HTTP_X_FORWARDED_SERVER', $_SERVER)) {
	$conf['server']['name'] = $_SERVER['HTTP_X_FORWARDED_SERVER'];
	$conf['cookie']['domain'] = $_SERVER['HTTP_X_FORWARDED_SERVER'];
} elseif (array_key_exists('HTTP_X_FORWARDED_HOST', $_SERVER)) {
	$conf['server']['name'] = $_SERVER['HTTP_X_FORWARDED_HOST'];
	$conf['cookie']['domain'] = $_SERVER['HTTP_X_FORWARDED_HOST'];
}
{% endif %}

