<VirtualHost *:80>

        ServerName {{ horde_vhost_server_name }}
        Redirect / https://{{ horde_vhost_server_name }}

</VirtualHost>

<VirtualHost *:443>

        ServerName {{ horde_vhost_server_name }}
        DocumentRoot {{ horde_webroot }}

        CustomLog {{ horde_log_path }}/horde-access.log combined
        ErrorLog {{ horde_log_path }}/horde-error.log

        SSLEngine on
        SSLCertificateFile {{ horde_cert.dest }}
        SSLCertificateKeyFile {{ horde_cert_key.dest }}

</VirtualHost>